@media (max-width: 1000px) {
    .section-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
} 
@media (max-width: 900px) {
    .footer-tile {
        margin: 16px;
    }
    .footer-bg {
        justify-content: center;
    }
}