.header-bg {
    background-image: url("../images/bg.jpg");
    /* max-width: 1366px; */
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1089px;
    width: 100%;
    height: 20px;
}
.logo {
    font: bold 14px/21px Poppins;
    color: #FFFFFF;
}
.nav-a {
    display: flex;
    width: 50%;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-ul a {
    font: 600 12px/18px Poppins;
    color: #FFFFFF;
    text-transform: uppercase;
}
.title {
    position: absolute;
    font: 800 42px/56px Poppins;
    color: #FFFFFF;
    top: 146px;
    left: 139px;
    width: 196px;
    height: 59px;
}
section {
    display: flex;
    justify-content: center;
    max-width: 1366px;
}
.section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto;
    max-width: 1080px;
    width: 100%;
}
.left-block {
    width: 444px;
    height: 388px;
}
.left-block h6 {
    text-transform: uppercase;
    font: bold 14px/21px Poppins;
    color: #5863F8;
}
.left-block h2 {
    font: 800 42px/56px Poppins;
}
.p1 {
    font: normal normal medium 16px/25px Poppins;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 444px;;
}
.p2 {
    font: normal normal normal 14px/21px Poppins;
    margin-bottom: 20px;
    width: 444px;
}
.read-more {
    position: relative;
    width: 184px;
    height: 50px;
    background-color: #5863F8;
}
.read-more a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal normal 14px/21px Poppins;
    color: #FFFFFF;
}
.right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 536px;
    height: 461px;
}

/* section-3 */
.container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.section-bg {
    background-image: url(../images/footer-bg.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 260px;
    background-color: #fff;
}
.block h3 {
    width: 188px;
    font: normal normal 600 18px/27px Poppins;
    text-align: center;
    margin: 15px 0 20px 0;
}
.block p {
    width: 220px;
    font: normal normal medium 14px/21px Poppins;
    color: #B1B1B1;
    text-align: center;
}
.box-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title1 {
    font-size: 14px;
    color: #5863F8;
}
.title2 {
    font-size: 42px;
    color: #fff;
    max-width: 376px;
    width: 100%;
    margin: 1px 0 34px 0;
}
.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50px;
}


/* responsive */
@media (max-width: 1060px) {
    .block {
        width: 48%;
        margin-bottom: 30px;
    }
    .container {
        padding: 0 30px;
    }
}
@media (max-width: 540px) {
    .block {
        width: 100%;
    }
}